.card {
  width: 240px;   
  background-color: #ffffff;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #333;
  transition: transform 0.2s, box-shadow 0.2s;
  margin: 10px;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card-header{
  background: none;
}

.card-header h2 {
  font-size: 1.2rem;
  margin-bottom: 4px;
  color: #222;
}

.genero-año {
  font-size: 0.9rem;
  color: #666;
  margin: 0;
}

.card-body {
  font-size: 0.9rem;
  margin-top: 8px;
}

.descripcion {
  margin-bottom: 8px;
  color: #444;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 6px 10px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 600;
  font-size: 0.85rem;
  transition: 0.2s;
}

.editar {
  background-color: #4ea8de;
  color: white;
}
.editar:hover {
  background-color: #70bfff;
}

.eliminar {
  background-color: #e63946;
  color: white;
}
.eliminar:hover {
  background-color: #ff5c6c;
}
