:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #242424;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #242424;
  color: white;
}

.bienvenida {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  text-align: center;
}

.app-titulo {
  font-size: 52px;
  margin-bottom: 2rem;
}

.btn-iniciar {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 19px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background-color: #d1d1d1;
  cursor: pointer;
  transition: 0.25s;
  width: 15rem;
}

.btn-iniciar:hover {
  border-color: #7279ff;
  background-color: #c3c6ff;
}

.estructura{
  display: flex;
  flex-direction: column;
}

.navbar {
  background: #1a1a1a;
  padding: 1rem 2rem;
  display: flex;
  border-bottom: 2px solid #5f64ff;
  margin-bottom: 5rem;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-btn {
  background: none;
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

.nav-btn:hover {
  border-color: #9aa0ff;
  background-color: #2c2c2c;
}

.btn-agregar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #5f64ff;
  color: white;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn-agregar:hover {
  background-color: #9aa0ff;
  transform: scale(1.08);
}

.cuerpo-juegos{
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.modal-backdrop-custom {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-title{
  color: #000;
}

label{
  color: #000;
}

.barra-busqueda {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 1rem;
  transition: all 0.3s ease;
  margin-left: 20px;
}
